        <nav id="nav-side" class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="logo-element"><a href="#" class="navbar-minimalize ">OC+</a></div>
                    </li>
                    <li><a href="contactos-mosaico.php"><i class="fas fa-address-book"></i> <span class="nav-label">Contactos</span></a></li>
                    <li><a href="cuentas-mosaico.php"><i class="fas fa-building"></i> <span class="nav-label">Cuentas</span></a></li>
                    <li><a href="grupos-mosaico.php"><i class="fas fa-users"></i> <span class="nav-label">Grupos</span></a></li>
                    <li class=""><a href="oportunidades-mosaico.php"><i class="fas fa-star"></i> <span class="nav-label">Oportunidades</span></a></li>
                    <li><a href="calendar-view.php"><i class="fas fa-calendar"></i> <span class="nav-label">Calendario</span></a></li>
                    <li><a href="casos-table.php"><i class="fas fa-folder"></i> <span class="nav-label">Casos</span></a></li>
                    <li><a href="horarios-table.php"><i class="fas fa-clock"></i> <span class="nav-label">Horarios</span></a></li>
                    <li class=""><a href="publicaciones-mosaico.php"><i class="fas fa-newspaper"></i> <span class="nav-label">Publicaciones</span></span></a></li>
                    <li class=""><a href="propiedades-mosaico.php"><i class="fas fa-home"></i> <span class="nav-label">Propiedades</span></a></li>
                </ul>
            </div>
        </nav>