                <div class="alert alert-nav alert-info alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"><i class="fa fa-chevron-down"></i></button>
                        Estás conectado como <a class="alert-link" href="#">Nombre Cuenta</a> y puedes publicar en su nombre.
                </div>

                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="col-lg-6 col-md-4 col-sm-10 col-xs-10">
                        <div class="navbar-header">
                            <a href="#" class="navbar-minimalize minimalize-styl-2 btn"><i class="fas fa-bars"></i></a>
                            <input type="text" placeholder="Qué estás buscando..."/>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-2 col-xs-2">
                        <ul class="nav navbar-top-links">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Crear</a>
                                <ul class="dropdown-menu-top dropdown-menu-right">
                                    <li><a href=""><i class="fa fa-address-book"></i>Contacto</a></li>
                                    <li><a href=""><i class="fas fa-id-card"></i>Cuenta</a></li>
                                    <li><a href=""><i class="fa fa-users"></i>Grupo</a></li>
                                    <li><a href=""><i class="fa fa-folder"></i>Caso</a></li>
                                    <li class="hidden"><a href=""><i class="fa fa-star"></i>Oportunidad</a></li>
                                    <li><a href=""><i class="fa fa-calendar"></i>Tarea</a></li>
                                    <li class="hidden"><a href=""><i class="fa fa-newspaper"></i>Publicación</a></li>
                                    <li class="hidden"><a href=""><i class="fa fa-building"></i>Propiedad</a></li>
                                </ul>
                            </li>
                            <li><a href="mail-view.php">Correo <span class="label bg-orange"></span></a></li>
                            <li><a href="calendar-view.php">Calendario</a></li>
                            <li><a href="tareas-view.php">Tareas</a></li>
                            <li class="hidden"><a href="dashboard.php">Dashboard</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mensajes <span class="label bg-orange"></span></a>
                                <ul class="dropdown-menu-mensajes dropdown-menu-right">
                                    <li>
                                        <small class="">Sin leer (1000)</small>
                                        <a href="">Nuevo mensaje</a>
                                    </li>
                                    <li class="unread">
                                        <a href="#">
                                            <div class="dropdown-menu-mensajes-box">
                                                <div class="media-left">
                                                    <img alt="" src="img/a4.jpg">
                                                </div>
                                                <div class="media-body">
                                                    <p>Chris Johnatan escribió un mensaje Johnatan escribió un mensaje.</p>
                                                    <small>DD/MM/AAAA 18:00 por Fuente</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#">
                                            <div class="dropdown-menu-mensajes-box">
                                                <div class="media-left">
                                                    <img alt="" src="img/a4.jpg">
                                                </div>
                                                <div class="media-body">
                                                    <p>Chris Johnatan escribió un mensaje Johnatan escribió un mensaje.</p>
                                                    <small>DD/MM/AAAA 18:00 por Fuente</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mensajes-view.php">Ver todos los mensajes</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Notificaciones
                                    <span class="label bg-orange"></span>
                                </a>
                                <ul class="dropdown-menu-alertas dropdown-menu-right">
                                    <li>
                                        <small class="">Sin leer (1000)</small>
                                        <a href="">Marcar todas como leídas</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-square fa-fw"></i>222 nuevos comentarios
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter fa-fw"></i>22 nuevos seguidores
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-instagram fa-fw"></i>1000 nuevos seguidores
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-pinterest fa-fw"></i>10 nuevos seguidores
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-youtube-square fa-fw"></i>304 nuevos seguidores
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-folder fa-fw"></i>1000 modificaciones
                                        </a>
                                    </li>
                                    <li>
                                        <a href="notificaciones-view.php">Ver todas las notificaciones</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <img alt="" class="img-circle" src="img/a1.jpg">
                                </a>
                                <ul class="dropdown-menu-top dropdown-menu-right">
                                    <li><a href="contactos-view.php"><i class="fas fa-user"></i>Ver mi perfil</a></li>
                                    <li><a href="contactos-edit.php"><i class="fas fa-user-edit"></i>Editar mi perfil</a></li>
                                    <li><a href="config-view.php"><i class="fas fa-user-shield"></i>Preferencias</a></li>
                                    <li><a href="logout.php"><i class="fas fa-sign-out-alt"></i>Salir</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fas fa-cog"></i>
                                </a>
                                <ul class="dropdown-menu-configuracion dropdown-menu-right">
                                    <li><a href="usuarios-table.php"><i class="fas fa-key"></i>Usuarios y permisos</a></li>
                                    <li><a href=""><i class="fas fa-exchange-alt"></i>Integraciones</a></li>
                                    <li><a href="config-view.php"><i class="fa fa-cogs"></i>Configuración</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>