{% extends "BackendBundle::layaout.html.twig" %}

{% block content %}

<div id="wrapper">
	
	{% include 'BackendBundle:includes:nav_side.html.twig' %}

	<div id="page-wrapper">
		<div class="row">
			{% include 'BackendBundle:includes:nav_top.html.twig' %}
		</div>
		<main class="wrapper wrapper-content animated fadeInRight">
			<div class="row">
				<aside>
					<ol class="breadcrumb">
						<li><a href="">Home</a></li>
						<li class="active">Page</li>
					</ol>
				</aside>
				<div class="side-0">
					<section>
						<h1>Usuarios</h1>
					</section>
					<section>
						<div class="btn-group">
							<a class="btn btn-white btn-sm" href="#filtros" data-toggle="modal" data-target="#filtros" title="Filtros avanzados"><i class="fa fa-filter"></i></a>
						</div>
						<div class="btn-group">
							<a class="btn btn-white btn-sm active" href="usuarios-table.php" title="Ver en tabla"><i class="fa fa-table"></i></a>
							<a class="btn btn-white btn-sm" href="usuarios-mosaico.php" title="Ver en Fichas"><i class="fa fa-align-justify"></i></a>
						</div>
						<div class="btn-group">
							<a class="btn btn-blue btn-sm" href="usuarios-edit.php" title="Crear nuevo usuario"><i class="fa fa-plus"></i> Nuevo</a>
						</div>
					</section>
				</div>
			</div>
			<div class="row">
				<div class="tabs-container">
					<div class="side-5">
						<div class="tab-content">
							<div id="tab-1" class="tab-pane active">
								<div class="panel-body">
									<div class="ibox">
										<div class="ibox-content">
											<div class="table-group">
												<div class="row">
													<div class="table-responsive">
														<table class="table table-hover dataTables">
															<thead>
																<tr>
																	<th></th>
																	<th>Nombre</th>
																	<th>Cuenta ID</th>
																	<th>Tipo</th>
																	<th>Estado</th>
																	<th>Email</th>
																	<th>Acciones</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td class=""><input type="checkbox" class="i-checks"></td>
																	<td class=""><p><a href="">Nombre Apellido</a></p></td>
																	<td class=""><p><a href="">123456789</a></p></td>
																	<td class=""><p>Administrador</p></td>
																	<td class=""><p>Activo</p></td>
																	<td class=""><p><a href="">contacto@company.com.ar</a></p></td>
																	<td class="">
																		<div class="btn-group">
																			<a class="btn btn-white btn-sm" href="#">Ver</a>
																			<a class="btn btn-white btn-sm" href="#">Editar</a>
																			<a class="btn btn-danger btn-sm" href="#">Eliminar</a>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="tab-2" class="tab-pane">
								<div class="panel-body">
									<div class="ibox">
										<div class="ibox-content">
											<div class="table-group">
												<div class="row">
													<h5>Noticias</h5>
												</div>
												<div class="row">
													<div class="table-responsive">
														<table class="table table-hover dataTables">
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																	<th></th>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td class=""><input type="checkbox" class="i-checks"></td>
																	<td class=""><a href=""><img src="img/a1.jpg"/></a></td>
																	<td class="">
																		<p><a href="">Título de posteo Título de posteo Título de posteo Título de posteo Título de posteo</a>
																		</p>
																		<date><i class="fa fa-clock-o"></i> Publicado el miércoles 18 de Marzo a las 10:00am</date>
																	</td>
																	<td class=""><span class="bg-blue">Publicado</span></td>
																	<td class="">
																		<a class="btn btn-xs bg-blue"><i class="fa fa-chrome"></i></a>
																		<a class="btn btn-xs bg-facebook"><i class="fa fa-facebook"></i></a>
																		<a class="btn btn-xs bg-twitter"><i class="fa fa-twitter"></i></a>
																		<a class="btn btn-xs bg-linkedin"><i class="fa fa-linkedin"></i></a>
																		<a class="btn btn-xs bg-instagram"><i class="fa fa-instagram"></i></a>
																		<a class="btn btn-xs bg-pinterest"><i class="fa fa-pinterest"></i></a>
																		<a class="btn btn-xs bg-whatsapp"><i class="fa fa-whatsapp"></i></a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>   
							<div id="tab-3" class="tab-pane">
								<div class="panel-body">
									<div class="ibox">
										<div class="ibox-content">
											<div class="table-group">
												<div class="row">
													<h5>Eventos</h5>
												</div>
												<div class="row">
													<div class="table-responsive">
														<table class="table table-hover dataTables">
															<thead>
																<tr>
																	<th></th>
																	<th></th>
																	<th></th>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td class=""><input type="checkbox" class="i-checks"></td>
																	<td class=""><a href=""><img src="img/a1.jpg"/></a></td>
																	<td class="">
																		<p><a href="">Título de posteo Título de posteo Título de posteo Título de posteo Título de posteo</a>
																		</p>
																		<date><i class="fa fa-clock-o"></i> Publicado el miércoles 18 de Marzo a las 10:00am</date>
																	</td>
																	<td class=""><span class="bg-blue">Publicado</span></td>
																	<td class="">
																		<a class="btn btn-xs bg-blue"><i class="fa fa-chrome"></i></a>
																		<a class="btn btn-xs bg-facebook"><i class="fa fa-facebook"></i></a>
																		<a class="btn btn-xs bg-twitter"><i class="fa fa-twitter"></i></a>
																		<a class="btn btn-xs bg-linkedin"><i class="fa fa-linkedin"></i></a>
																		<a class="btn btn-xs bg-instagram"><i class="fa fa-instagram"></i></a>
																		<a class="btn btn-xs bg-pinterest"><i class="fa fa-pinterest"></i></a>
																		<a class="btn btn-xs bg-whatsapp"><i class="fa fa-whatsapp"></i></a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>                                               
						</div>
					</div>
				</div>                            
			</div>
		</main>
	</div>
	<!--  include_once("footer.php") -->
</div>


{% endblock %}